# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\programming\GO\cli\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
